th, td{
    text-align: center;
    padding: 10px;
}
table{
    width: 80%;
    border-collapse: collapse;
    margin: auto;
}
tr:nth-child(even){
    background-color: darkmagenta;
}
tr:nth-child(odd){
    background-color: darkturquoise;
}
th{
    background-color: dblue;
    color: white;
}
body{
    background-image: url("../image/baby.jpg");
    background-repeat:no-repeat;
    background-size: cover;

}